body {
background-color: #f0f0f2;
margin: 0;
padding: 0;
font-family: monospace;
}
main {
width: 600px;
margin: 5em auto;
padding: 4em;
line-height: 1.4em;
background-color: #fff;
border-radius: 0.5em;
box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
img, canvas {
width: 100%;
height: auto;
margin-bottom: 2em;
}
input {
display: inline-block;
width: 100%;
padding: 120px 0 0 0;
height: 100px;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: url('https://susahcebok.pages.dev/assets/drag.png') center center no-repeat #fdfdff;
border-radius: 0.5em;
background-size: 60px 60px;
transition-duration: 0.4s;
border: grey dashed;
}
input:hover {
opacity: 0.3;
cursor: not-allowed;
}
.btn {
background-color: #e4e4e4;
border: none;
color: #222;
border-radius: 4px;
cursor: pointer;
padding: 10px 25px;
margin-right: 1em;
margin-bottom: 2em;
text-decoration: none;
text-transform: uppercase;
transition: box-shadow 1s ease-out;
}
.btn:hover {
opacity: 0.3;
cursor: not-allowed;
}
.btn[href=''] {
display: none;
}
footer {
position: fixed;
bottom: 0;
right: 0;
font-size: 13px;
background: #f0f0f2;
padding: 5px 10px;
margin: 5px;
}
@media (max-width: 700px) {
main {
margin: 0 auto;
width: auto;
}
}
